# App Configuration
APP_NAME=intra
APP_DOMAIN=intra.com
APP_SUPPORT_EMAIL=support@intra.com
APP_PORT=8080
APP_HOST=localhost
APP_PROTOCOL=http
APP_FRONTEND_PORT=3000
APP_FRONTEND_HOST=localhost
APP_FRONTEND_PROTOCOL=http
APP_NODE_ENV=test

# Database Root Configuration
DATABASE_ROOT_HOST=localhost
DATABASE_ROOT_PORT=5433
DATABASE_ROOT_USER=root
DATABASE_ROOT_PASSWORD=password

# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=intra_sql
DATABASE_PASSWORD=password
DATABASE_NAME=intra_test
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"
# SHADOW_DATABASE_NAME=intra_shadow
# SHADOW_DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${SHADOW_DATABASE_NAME}"
