# Test environment
APP_NODE_ENV=test

# Test database (override settings from the main .env.development)
DATABASE_NAME=intra_test
DATABASE_URL="mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"



# # JWT test keys (for security and test isolation)
# JWT_ACCESS_SECRET=test_access_secret_key
# JWT_REFRESH_SECRET=test_refresh_secret_key
# JWT_CONFIRM_EMAIL_SECRET=test_email_secret_key
# JWT_RESET_PASSWORD_SECRET=test_password_reset_secret_key